In [94]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [6]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head(n=5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [17]:
# counting the records can use any but df.count give non null values
len(df)
df.shape[0]
# df.count() --> just non null
df.describe()
df.index

RangeIndex(start=0, stop=9704, step=1)

In [25]:
# count different fuel types
df.groupby('fuel_type').count()
df.fuel_type.nunique()

2

In [33]:
# missing values in columns
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [38]:
# max fuel efficiency from asia 
df[
    df['origin'] == 'Asia'
].fuel_efficiency_mpg.max().round(2)

np.float64(23.76)

In [41]:
# median value
df['horsepower'].median()

np.float64(149.0)

In [62]:
# most frequent val in horsepower
most_freq=df['horsepower'].mode()[0]
most_freq

np.float64(152.0)

In [70]:
df['horsepower'] = df['horsepower'].fillna(most_freq)

In [71]:
df['horsepower'].median()

np.float64(152.0)

In [93]:
# sum weights of all cars form asia 
X = df[
    df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(n=7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [109]:
X_T = X.T
XTX = X_T.dot(X)
XTX.shape, X_T.shape

((2, 2), (2, 7))

In [112]:
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100,1300,800,900,1000,1100,1200])
y
XTX_inv.shape

(2, 2)

In [117]:
w = (XTX_inv.dot(X_T)).dot(y)
res = w[0] + w[1]
res.round(2)

np.float64(0.52)